<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Digo360"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".adapter.MostSearchDiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TopDiseasesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Patient_Details"
            android:exported="false" />
        <activity
            android:name=".activity.Pages"
            android:exported="false" />
        <activity
            android:name=".activity.Total_Reports"
            android:exported="false" />
        <activity
            android:name=".activity.ReportPage"
            android:exported="false" />
        <activity
            android:name=".activity.PreviousCases"
            android:exported="false" />
        <activity
            android:name=".activity.ReferPage"
            android:exported="false" />
        <activity
            android:name=".activity.CollegePage"
            android:exported="false" />
        <activity
            android:name=".activity.SearchPage"
            android:exported="false" />
        <activity
            android:name=".activity.HelpPage"
            android:exported="false" />
        <activity
            android:name=".activity.PatientsProblemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PatientRegistrationCheckActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddressPage"
            android:exported="false" />
        <activity
            android:name=".activity.AboutDigo"
            android:exported="false" />
        <activity
            android:name=".activity.MyProfile"
            android:exported="false" />
        <activity
            android:name=".activity.AfterQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SpecialActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AfterPatientRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NewCasectivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoadingPage"
            android:exported="false" />
        <activity
            android:name=".activity.ChooseLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegistrationCheckActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OTPActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".activity.GetStartedPage"
            android:exported="false" />
        <activity
            android:name=".activity.OnboardScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>